{% load static %}
<html lang="en" dir="ltr">
  <head>
    <link rel="icon" type="image/x-ico" href="{% static 'pink.ico'%}"/>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'login.css'%}">
    <title>Login - Charlpha</title>
  </head>
  <body>
    {% block bodyBlock %}
    <a href="./login" style="text-decoration:none; margin-top:200px;"><h1 id="title">FairTest</h1></a>
    {% endblock %}
  </body>
</html>
