{% extends 'index.html' %}
{% block title %}<title>Login - FairTest</title>{% endblock %}
{% block bodyBlock %}
<div class="card">
  <div class="container" style="margin: 60px;">
    <form>
      <div class="form-group">

        <label style="display: block; text-align:center;"><b style="color:rgb(247,109,89);">Please Login Using School Email and Password</b></label>
        <hr style="background-color:rgb(247,109,89);">
        <label for="exampleInputEmail1" style="color:rgb(247,109,89);">School Email</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1" style="color:rgb(247,109,89);">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
      </div>
      <div style="text-align: center;">
        <button style="display: inline-block; color:rgb(255,255,255); background-color:rgb(247,109,89);)" type="submit" class="btn">Login</button>
      </div>
    </form>
  </div>
</div>
{% endblock%}
